*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 1200px;
  margin: 0 auto;
}


@media only screen and (max-width: 767px){
  .container {
    width: auto;
    padding: 0 15px;
  }
  .product_list {
    display: block !important;
  }
  .detail_img, .detail_info{
    width: 100% !important;
  }
  .detail_info{
    margin-top: 25px;
  }
}